.service_area {
    display         : flex;
    flex-direction  : column;
    align-self      : center;
    justify-content : space-between;
    background-color: #F6F6F6;
    text-align      : center;
    margin          : 1em 0;
    padding         : 3em 0;
}

.service_area button {
    margin-top: 1.5em;
    width     : 220px;

}

.service_title {
    margin-bottom: 2em;
}

.service_price {
    font-weight: bold;
}

.service_container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
}

.service_card {
    cursor       : pointer;
    width        : 300px;
    height       : 350px;
    margin-bottom: 1.5em;
    margin-left  : 1em;
    border-radius: 5px;
    padding      : 1em;
    border       : .5px dotted black;
    transition   : .2s ease;
}

.service_card:hover {
    box-shadow: 2px 2px 10px 0 gray;
}

/* .service_card:hover img {
    transform: rotate(360deg);
} */

.service_card img {
    width     : 50%;
    transition: transform 1.5s;
}

.service_card img:hover {
    transform: rotate(360deg);
}

.service_card p {
    margin-bottom: .5em;
}

.service_container a:hover {
    text-decoration: none;
}